body {
    color: grey;
    background-color: darkgreen;
    behavior: inherit;
}





script {
    src : "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js";
    src : "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js";
}

container {
    background-color: darkgoldenrod;
    box-sizing: border-box;
    shape-rendering: crispEdges;
    width: auto;
    text-decoration: transparent;


}