

body {
    /* color: #6f5d5d; */
    background-color: #3b3b43;
    /* background-blend-mode: soft-light; */
    behavior: inherit;
}


.Container1 {

   text-align: center;
    align-content: center;

}

.navBar {

    text-align: center;}

    /* .carousel {
        /* width:800px;
        height:1000px; */
        
        /* } */ */
        
        .carousel-inner {
        
        /* height:900px; */
        
        object-fit: contain;
        
        }


.jumbotron {

         background-image: url("./images/austinPowerlines.jpg");
        /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0,0.75); */
        /* opacity: "0.5"; */
         

}





